

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#D3 {
  position: absolute;
  width: 100%; 
  height: 100%;
  // background-color: black;
  background: linear-gradient(to bottom, rgb(183, 174, 126) 0%,rgb(90, 72, 61) 100%);
}

#UI { 
  bottom: 0;
  left: 0;
}

@mixin icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@mixin button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: red;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  pointer-events:auto;
}

.icon_prestige {
  background-image: url(pic/scoreC.png);
  @include icon;
}

.icon_power {
  background-image: url(pic/scoreA.png);
  @include icon;
}

.icon_prosperity {
  background-image: url(pic/scoreB.png);
  @include icon;
}

.icon_building {
  background-image: url(pic/icon3.png);
  @include icon;
}

.icon_0 {
  background-image: url('/pic/ico_all.png');
  @include icon;
}

.icon_1 {
  background-image: url('/pic/ico_wood.png');
  @include icon;
}

.icon_2 {
  background-image: url('/pic/ico_stone.png');
  @include icon;
}

.icon_3 {
  background-image: url('/pic/ico_meat.png');
  @include icon;
}

.icon_4 {
  background-image: url('/pic/ico_peon.png');
  @include icon;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cabb99; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #887b5d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #887b5d; 
}

@import "./view/ui/catalog.scss";
@import "./view/ui/info.scss";
@import "./view/ui/stats.scss";
@import "./view/ui/menu.scss";
