.catalog {
    position: fixed;
    width: 100%;
    bottom: 0;
    pointer-events: none;
    &__categories {
        position: absolute;
        left: 87px;
        bottom: 448px;
        height: 60px;
        padding-right: 5px;
        box-sizing: border-box;
        background: #6f4b36;
        box-shadow: 0 0 18px 3px #000000;

        &.v0 {
            .w0{
                background: #6f4b36;
                color:#a28c5a;
            }
        }

        &.v1 {
            .w1{
                background: #6f4b36;
                color:#a28c5a;
            }
        }

        &.v2 {
            .w2{
                background: #6f4b36;
                color:#a28c5a;
            }
        }

        &.v3 {
            .w3{
                background: #6f4b36;
                color:#a28c5a;
            }
        }

        &__category {
            position: relative;
            width: 240px;
            height: 50px;
            background: #af9863;
            display: inline-block;
            box-sizing: border-box;
            border: solid #a28c5a 10px;
            margin: 5px 0 0 5px;
            align-items: center;
            cursor: pointer;
            color: #6f4b36;
            text-align: center;
            font-size: 1.7rem;
            pointer-events: auto;
        }
    }

    &__list {
        position: absolute;
        display: flex;
        flex-direction: row;
        pointer-events: auto;
        width: 90%;
        max-width: 1800px;
        overflow-x: auto;
        bottom: 20px;
        left: 20px;
        background: rgba(111,75,54,0.8);
        border: solid 3px #8a6b60;
        &__item {
            position: relative;
            margin: 15px 0px 14px 15px;
            width: 260px;
            height: 390px;
            background-color: #6f4b36;
            box-sizing: border-box;
            padding: 4px 20px;
            cursor: pointer;
            text-align: center;
            line-height: 40px;
            color: #b89e63;
            border: solid 3px #8a6b60;
            border-radius: 20px;
            &.disabled {
                pointer-events: none;
                cursor: not-allowed;
                .catalog__list__item__pic {
                    opacity: 0.3;
                }
            }

            &__label {
                position: relative;
                margin-bottom: 10px;
                font-size: 1.8rem;
            }

            &__pic {
                position: relative;
                width: 200px;
                height: 180px;
                border-radius: 10px;
                background-size: 100%;
                margin: 0 auto;
            }

            &__desc {
                position: relative;
                line-height: 1rem;
                font-size: 1rem;
                margin-top: 11px;
            }

            &__cost {
                position: relative;
                display: flex;
                width: 100%;
                height: 86px;
                padding: 8px;
                box-sizing: border-box;
                flex-wrap: wrap;

                &__item {
                    position: relative;
                    width: 88px;
                    height: 30px;
                    padding: 0;
                }

                &__icon {
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-right: 9px;
                }

                &__value {
                    display: inline-block;
                    height: 30px;
                    text-align: left;
                    line-height: 30px;
                    vertical-align: top;
                }
            }
        }
        
        .disabled0 {
            .code_0{
                opacity: 0.5;  
            }
        }

        .disabled1 {
            .code_1{
                opacity: 0.5;   
            }
        }

        .disabled2 {
            .code_2{
                opacity: 0.5;   
            }
        }

        .disabled3 {
            .code_3{
                opacity: 0.5;  
            }
        }
    }

    &__opener {
        position: absolute;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        pointer-events: auto;
        left: 50px;
        bottom: 50px;
        background-image: url(pic/button_construct2.png);
        background-size: 100%;
        transform: rotate(-8deg);
        &:hover {
            transform: rotate(-0deg); 
        }
    }

    &__closer {
        position: absolute;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        pointer-events: auto;
        left: 20px;
        bottom: 448px;
        background-image: url(pic/button_close.png);
        background-size: 100%;
        &:hover {
 
        }
    }
  }
  