.catalog {
    position: fixed;
    width: 100%;
    bottom: 24px;
    left: 24px;
    pointer-events: none;
    transform-origin: left;


    &__category {
        position: absolute;
        width: 100%;
        height: 235px;
        left: 15px;
        &.v0 {
            bottom: 120px;
        }
        &.v1 {
            bottom: 60px;
        }
        &.v2 {
            bottom: 0px;
        }

        &__button {
            position: relative;
            width: 59px;
            height: 55px;
            display: inline-block;
            margin: 0px 0 4px 0;
            align-items: center;
            cursor: pointer;
            pointer-events: auto;
            background-position: 6px 2px;
            background-size: 46px;
            background-repeat: no-repeat;

            &.v0 {
                background-image: url(pic/icon4.png);
                top: 100px;
            }
            &.v1 {
                background-image: url(pic/icon5.png);
                top: 100px;
            }
            &.v2 {
                background-image: url(pic/icon7.png);
                top: 100px;
            }
        }

        &.focus  {
            .catalog__category__button {
                background-color: rgb(120, 148, 15);
            }

            .catalog__category__list {
                display: block;
            }
        }


        &__list {
            position: absolute;
            pointer-events: auto;
            flex-wrap: nowrap;
            width: 85%;
            height: 250px;
            max-width: 892px;
            overflow-x: auto;
            overflow-y: hidden;
            top: 20px;
            left: 59px;
            white-space: nowrap;
            display: none;
            &__container {
                position: relative;
                display: inline-block;
            }
            &__background {
                position: absolute;
                width: calc(100% - 40px);
                height: 2px;
                top: 109px;
                left: 0px;
                background-color: #d4b797;
            }
    
            &__item {
                position: relative;
                display: inline-block;
                margin: 0 0px 0 18px;
                width: 160px;
                height: 240px;
                cursor: pointer;
                color: #d4b797;
                transform: scale(1);
                &:hover {
                    transform: scale(1.02);
                }
                &.disabled {
                    pointer-events: none;
                    cursor: not-allowed;
                    .catalog__list__item__pic__content {
                        opacity: 0.3;
                    }
                }
    
                &__toplabel {
                    position: absolute;
                    width: 90px;
                    height: 2px;
                    top: 150px;
                    left: 39px;
                    background-color: #d4b797;
                }
    
                &__label {
                    position: absolute;
                    font-size: 1.15rem;
                    width: 100%;
                    top: 154px;
                    left: 0;
                    color: #cabb99;
                    text-align: center;
                    text-transform: capitalize;
                }
    
                &__pic {
                    position: absolute;
                    width: 120px;
                    height: 110px;
                    top: 55px;
                    left: 22px;
                    background-color: #d4b797;
                    clip-path: polygon(50% 0%, 100% 50%, 63% 88%, 37% 88%, 0% 50%);
                    &__content {
                        position: absolute;
                        width: 116px;
                        height: 106px;
                        top: 2px;
                        left: 2px;
                        background-position: center;
                        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    }
                }
    
                &__desc {
                    position: absolute;
                    display: inline-block;
                    line-height: 1rem;
                    font-size: .9rem;
                    top: 100px;
                    left: 18px;
                    width: 137px;
                    height: 50px;
                    color: #b5a384;
                    white-space: normal;
                    display: none;
                }
    
                &__cost {
                    position: absolute;
                    width: 80px;
                    height: 85px;
                    display: flex;
                    box-sizing: border-box;
                    flex-wrap: wrap;
                    flex-flow: column-reverse;
                    &__item {
                        width: 67px;
                        height: 21px;
                        margin-top: 5px;
                    }
    
                    &__icon {
                        position: relative;
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        margin-right: 7px;
                    }
    
                    &__value {
                        display: inline-block;
                        height: 30px;
                        text-align: left;
                        line-height: 23px;
                        vertical-align: top;
                        color: #d4b797;
                        text-shadow: 0 0 1px #2f2821;
                    }
                }
            }
            
            .disabled0 {
                .code_0{
                    opacity: 0.5;  
                }
            }
    
            .disabled1 {
                .code_1{
                    opacity: 0.5;   
                }
            }
    
            .disabled2 {
                .code_2{
                    opacity: 0.5;   
                }
            }
    
            .disabled3 {
                .code_3{
                    opacity: 0.5;  
                }
            }
        }


    }


   
    &__opener {
        position: absolute;
        width: 60px;
        height: 60px;
        cursor: pointer;
        pointer-events: auto;
        left: 18px;
        bottom: 10px;
        background-color: #d4b797;
        background-image: url(pic/button_construct3.png);
        background-size: 51px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 40px;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__closer {
        position: absolute;
        width: 60px;
        height: 60px;
        cursor: pointer;
        pointer-events: auto;
        left: 18px;
        bottom: 10px;
        &__logo  {
            position: absolute;
            width: 60%;
            height: 60%;
            top: 20%;
            left: 20%;
            clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
            background-color: #d4b797;
        }
        &:hover {
            transform: scale(1.1);
        }
        
    }
  }
  