.info {
    position: fixed;
    width: 800px;
    height: 240px;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(pic/panel2x1.png);
    box-shadow: 0 0 18px 3px #000000;
    &__remove {
        background: red;
        @include button;
        position: relative;
        margin: 20px;
    }
    &__upgrade {
        background: red;
        @include button;
        position: relative;
        margin: 20px;
    }
}