.info {
    position: fixed;
    width: 800px;
    height: 240px;
    bottom: 30px;
    left: 35%;
    -webkit-transform: translateX(-35%);
    transform: translateX(-35%);
    background-image: url(pic/panel2x1.png);
    box-shadow: 0 0 18px 3px #000000;

    &__title {
        position: absolute;
        top: -55px;
        left: 0;
        font-size: 2rem;
        padding: 10px 36px;
        background: #865b41;
        border: outset 5px #65402b;
        border-right-color: #8c6954;
        border-bottom-color: #865b41;
        color: #b89e64;
        transform: rotate(-3deg);
    }

    &__description  {
        position: absolute;
        top: 40px;
        left: 226px;
        width: 300px;
        color: #5c3e2d;
        font-size: 1.2rem;
    }

    &__picture {
        position: absolute;
        top: 40px;
        left: 36px;
        border: solid 4px #634330;
    }


    &__remove {
        position: absolute;
        width: 70px;
        height: 70px;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        pointer-events: auto;
        background-image: url(pic/button_remove.png);
        background-size: 100%;
        transform: rotate(-3deg);
        top: -55px;
        left: 229px;
    }
    &__upgrade {
        position: absolute;
        width: 70px;
        height: 70px;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        pointer-events: auto;
        background-image: url(pic/button_upgrade.png);
        background-size: 100%;
        transform: rotate(-3deg);
        top: -55px;
        left: 316px;
    }

    &__ajust {
        position: absolute;
        display: block;
        top: 35px;
        right: 28px;
        height: 180px;
        width: 181px;
        border-left: solid #a7905b 6px;
        padding-left: 11px;
        &__item {
            position: relative;
            display: inline-block;
            margin-bottom: 17px;
            height: 48px;
            &__label {
                position: relative;
                display: inline-block;
                color: #65402b;
                line-height: 22px;
                margin: 0;
                padding: 0;
                vertical-align: top;
                width: 68px;
            }
            &__arrow {
                position: relative;
                display: inline-block;
                height: 48px;
                width: 35px;
                &.left {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 32px 25px 0;
                    border-color: transparent #65402b transparent transparent;
                }

                &.right {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 0 25px 32px;
                    border-color: transparent transparent transparent #65402b;
                }
            }

            &__icon {
                position: relative;
                display: inline-block;
                height: 50px;
                width: 48px;
                background-color: white;
                border-bottom: solid #65402b;
                border-top: solid #65402b;
                box-sizing: border-box;
            }   

        }

    }

    &__stats {
        position: absolute;
        top: 104px;
        left: 221px;
        width: 340px;
        height: 112px;
        &__item {
            position: relative;
            display: inline-block;
            width: 80px;
            margin-bottom: 0;
            margin-right: 5px;
            &__value {
                display: inline-block;
                vertical-align: top;
                height: 30px;
                line-height: 30px;
                margin-left: 3px;
                color: #5c3e2d;
            }
            &__icon {
                display: inline-block;
            }
        }
    }


    &__materials {
        position: absolute;
        top: 97px;
        left: 221px;
        width: 340px;
        height: 112px;
        &__label {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 12px;
            margin-left: 0;
            color: #5c3e2d;
        }
        &__item {
            position: relative;
            display: inline-block;
            width: 80px;
            margin-bottom: 0;
            margin-right: 5px;
            &__value {
                display: inline-block;
                vertical-align: top;
                height: 30px;
                line-height: 30px;
                margin-left: 3px;
                color: #5c3e2d;
            }
            &__icon {
                display: inline-block;
            }
        }
    }
}